{% extends 'layout.html' %}

{% block title %}Ma Jinhu - Artwork{% endblock %}

{% block bodyId %}artwork{% endblock %}

{% block content %}
  <div class="container artwork-layout-container">

    <div class="artwork-image-container-left">
      <figure class="artwork-image">
        <img src="/img/artwork-15.jpg">
        <!--
        <img src="/img/artwork-13.jpg">
        -->
      </figure>
    </div>

    {% include "../../../components/global/templates/navbar.html" with { noSubtitle: true } %}
    
    <div class="artwork-content-container-right">
      <div class="row">
        <div class="breadcrumbs-container">
          <ol class="breadcrumb">
            <li><a href="#">馬金虎</a></li>
            <li><a href="#">作品集</a></li>
            <li><a href="#">梅</a></li>
            <li class="active">黃花過時有餘香</li>
          </ol>
        </div>
      </div>

      <div class="row">
        <div class="artwork-heading-container">
          <h1>黃花過時有餘香</h1>
          <ol class="artwork-sharing list-unstyled list-inline">
            <li><a href="#" class="icon-facebook"></a></li>
            <li><a href="#" class="icon-twitter"></a></li>
            <li><a href="#" class="icon-pinterest"></a></li>
          </ol>
        </div>
      </div>

      <div class="row">
        <div class="artwork-meta-container">
          <ol class="artwork-meta list-unstyled">
            <li>
              <span class="artwork-meta-key">分類</span>
              <span class="artwork-meta-value">水墨畫</span>
            </li>
            <li>
              <span class="artwork-meta-key">畫家</span>
              <span class="artwork-meta-value">馬金虎</span>
            </li>
            <li>
              <span class="artwork-meta-key">時間</span>
              <span class="artwork-meta-value">創作於 2011 年 11 月</span>
            </li>
            <li>
              <span class="artwork-meta-key">尺寸</span>
              <span class="artwork-meta-value">長 101cm 寬 91 cm</span>
            </li>
          </ol>
        </div>

        <div class="artwork-details-container">
          <section class="artwork-details-section">
            <h2>作品介紹</h2>
            <p>
            在馬老師的系列作品中，呈現出的片段、碎裂、
            微小、隱晦......，在每一個凍結的瞬間，在無
            數轉眼即逝的漂浮意識中，心靈捕捉了足以引起
            迴響的微細素材，經過沉澱、凝視、轉化，將「
            自然」本體賦予「流動」的意識。過程中不必然
            是具象或是抽象，也不盡然確定最後表現的結果，
            反而是讓流動的意識主導一切，隨心而定，隨興
            而走。
            </p>
          </section>
          <section class="artwork-details-section">
            <h2>作品鑒賞</h2>
            <p>
            與水墨畫有關的還有水墨版畫。與一般版畫不同
            的是，水墨版畫雖然也是木刻版畫，但使用宣紙
            做為紙材，在不同的地方重複水墨印刷，層層渲
            染的效果，使得每一張作品都明顯不同，也具有
            水墨畫的美感。至於水墨畫的作畫方式，中國由
            古至今發明了多種繪畫方法，最常見的是用畫筆
            作畫。
            </p>
          </section>

          <div class="artwork-comments">
            <h2>留言討論</h2>
            <div id="disqus_thread"></div>
            <script type="text/javascript">
              var disqus_shortname = 'majinhu';

              (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
          </div>
        </div>
      </div>

    </div>
    
    <div class="row">
      <div class="footer-container">
        <footer class="footer">
        &copy; 2014. All rights reserved.
        </footer>
      </div>
    </div>

  </div>
{% endblock %}

{% block script %}
<script src="/js/artwork.min.js"></script>
{% endblock %}
