{% set image_url = artwork.get('images')['image_url']|replace(':version', artwork.get('images')['image_versions'][0]) %}

{% extends 'layout.html' %}

{% block title %}{{artwork.get('title')}} | Ma Jinhu 馬金虎{% endblock %}

{% block socialMeta %}
  <meta property="og:title" content="{{artwork.get('title')}} | Ma Jinhu 馬金虎">
  <meta property="og:description" content="{{artwork.get('title')}} | Ma Jinhu 馬金虎">
  <meta property="twitter:description" content="{{artwork.get('title')}} | Ma Jinhu 馬金虎">
  <link rel="canonical" href="{{sd.APP_URL + sd.CURRENT_PATH}}">
  <meta property="og:url" content="{{sd.APP_URL + sd.CURRENT_PATH}}">
  <meta property="og:type" content="website">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="og:image" content="{{sd.APP_URL}}/img{{image_url}}">
{% endblock %}

{% block bodyId %}artwork{% endblock %}

{% block content %}
  <div class="container artwork-layout-container">

    <div class="artwork-image-container-left">
      <figure class="artwork-image">
        <img src="/img{{image_url}}">
      </figure>
    </div>

    {% include "../../../components/global/templates/navbar.html" with { noSubtitle: true } %}
    
    <div class="artwork-content-container-right">
      <div class="row">
        <div class="breadcrumbs-container">
          <ol class="breadcrumb">
            <li><a href="/">馬金虎</a></li>
            <li><a href="/artworks">作品集</a></li>
            <li><a href="/artworks#{{artwork.get('category')|first}}">{{artwork.get('category')|first|capitalize}}</a></li>
            <li class="active">{{artwork.get('title')}}</li>
          </ol>
        </div>
      </div>

      <div class="row">
        <div class="artwork-heading-container">
          <h1>{{artwork.get('title')}}</h1>
          <ol class="artwork-sharing list-unstyled list-inline">
            {% set url = encodeURIComponent(sd.APP_URL + sd.CURRENT_PATH) -%}
            {% set description = artwork.get('title') + " | Ma Jinhu 馬金虎" -%}
            {% set media = "http://majinhu.com/img" + image_url -%}
            <li><a href="#" onclick="window.open(
              'https://www.facebook.com/sharer.php?u={{url}}',
              'facebook-share-dialog',
              'width=626,height=436');
              return false;" class="icon-facebook"></a></li>
            <li><a href="https://twitter.com/intent/tweet?original_referer={{url}}&text={{description}}&url={{url}}" class="icon-twitter" target="_blank"></a></li>
            <li><a href="#" onclick="window.open(
              'https://pinterest.com/pin/create/button/?url={{url}}&media={{media}}&description={{description}}',
              'pinterest-share-dialog',
              'width=626,height=436');
              return false;" class="icon-pinterest"></a></li>
          </ol>
        </div>
      </div>

      <div class="row">
        <div class="artwork-meta-container">
          <ol class="artwork-meta list-unstyled">
            <li>
              <span class="artwork-meta-key">分類</span>
              <span class="artwork-meta-value">水墨畫</span>
            </li>
            <li>
              <span class="artwork-meta-key">畫家</span>
              <span class="artwork-meta-value">馬金虎</span>
            </li>
            <li>
              <span class="artwork-meta-key">時間</span>
              <span class="artwork-meta-value">創作於 {{artwork.get('date')|date('Y')}} 年 {{artwork.get('date')|date('m')}} 月</span>
            </li>
            <li>
              <span class="artwork-meta-key">尺寸</span>
              <span class="artwork-meta-value">長 {{artwork.get('height')}} cm 寬 {{artwork.get('width')}} cm</span>
            </li>
          </ol>
        </div>

        <div class="artwork-details-container">
          <section class="artwork-details-section">
            <h2>作品介紹</h2>
            <p>{{artwork.get('description')}}</p>
          </section>
          <!--
          <section class="artwork-details-section">
            <h2>作品鑒賞</h2>
            <p>
            與水墨畫有關的還有水墨版畫。與一般版畫不同
            的是，水墨版畫雖然也是木刻版畫，但使用宣紙
            做為紙材，在不同的地方重複水墨印刷，層層渲
            染的效果，使得每一張作品都明顯不同，也具有
            水墨畫的美感。至於水墨畫的作畫方式，中國由
            古至今發明了多種繪畫方法，最常見的是用畫筆
            作畫。
            </p>
          </section>
          -->

          <div class="artwork-comments">
            <h2>留言討論</h2>
            <div id="disqus_thread"></div>
            <script type="text/javascript">
              var disqus_shortname = 'majinhu';

              (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
          </div>
        </div>
      </div>

    </div>
    
    <div class="row">
      <div class="footer-container">
        <footer class="footer">
        &copy; 2014. All rights reserved.
        </footer>
      </div>
    </div>

  </div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
<script src="/js/artwork{{sd.JS_EXT}}"></script>
{% endblock %}
