{% extends 'layout.html' %}

{% block title %}Ma Jinhu{% endblock %}

{% block bodyId %}news{% endblock %}

{% block content %}
  <div class="drawing-container hidden-sm hidden-xs">
    <img class="drawing" src="img/background.png">
  </div>

  <div class="container">

    {% include "../../../components/global/templates/navbar.html" %}

    <div class="row">

      <!-- Profile picture -->
      <div class="profile-pic-container">
        <figure class="profile-pic">
          <img src="img/profile-pic.jpg" alt="Jinhu Ma">
          <figurecaption></figurecaption>
        </figure>
      </div>

      <div class="news-container">
        <h1>最新消息 News</h1>
        <table class="table table-hover news">
          <tbody>
            <tr>
              <td>2013-07-02</td>
              <td><a href="#">中國著名畫家馬金虎舊金山書畫展，2013 年 7 月 20 日開幕。</a></td>
            </tr>
            <tr>
              <td>2013-07-02</td>
              <td><a href="#">中國著名畫家馬金虎舊金山書畫展，2013 年 7 月 20 日開幕。</a></td>
            </tr>
            <tr>
              <td>2013-07-02</td>
              <td><a href="#">中國著名畫家馬金虎舊金山書畫展，2013 年 7 月 20 日開幕。</a></td>
            </tr>
            <tr>
              <td>2013-07-02</td>
              <td><a href="#">中國著名畫家馬金虎舊金山書畫展，2013 年 7 月 20 日開幕。</a></td>
            </tr>
            <tr>
              <td>2013-07-02</td>
              <td><a href="#">中國著名畫家馬金虎舊金山書畫展，2013 年 7 月 20 日開幕。</a></td>
            </tr>
            <tr>
              <td>2013-07-02</td>
              <td><a href="#">中國著名畫家馬金虎舊金山書畫展，2013 年 7 月 20 日開幕。</a></td>
            </tr>
            <tr>
              <td>2013-07-02</td>
              <td><a href="#">中國著名畫家馬金虎舊金山書畫展，2013 年 7 月 20 日開幕。</a></td>
            </tr>
            <tr>
              <td>2013-07-02</td>
              <td><a href="#">中國著名畫家馬金虎舊金山書畫展，2013 年 7 月 20 日開幕。</a></td>
            </tr>
            <tr>
              <td>2013-07-02</td>
              <td><a href="#">中國著名畫家馬金虎舊金山書畫展，2013 年 7 月 20 日開幕。</a></td>
            </tr>
            <tr>
              <td>2013-07-02</td>
              <td><a href="#">中國著名畫家馬金虎舊金山書畫展，2013 年 7 月 20 日開幕。</a></td>
            </tr>
            <tr>
              <td>2013-07-02</td>
              <td><a href="#">中國著名畫家馬金虎舊金山書畫展，2013 年 7 月 20 日開幕。</a></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <div class="row">
      <div class="footer-container">
        <footer class="footer">
        &copy; 2014. All rights reserved.
        </footer>
      </div>
    </div>

  </div>
{% endblock %}
