{% extends 'layout.html' %}

{% block title %}Ma Jinhu{% endblock %}

{% block bodyId %}news{% endblock %}

{% block content %}
  <div class="drawing-container hidden-sm hidden-xs">
    <img class="drawing" src="img/background.png">
  </div>

  <div class="container">

    {% include "../../../components/global/templates/navbar.html" %}

    <div class="row">

      <!-- Profile picture -->
      <div class="profile-pic-container">
        <figure class="profile-pic">
          <img src="img/profile-pic.jpg" alt="Jinhu Ma">
          <figurecaption></figurecaption>
        </figure>
      </div>

      <div class="news-container">
        <h1>最新消息 News</h1>
        <table class="table table-hover news">
          <tbody>
            <tr>
              <td>2013-07-25</td>
              <td><a href="http://gb.cri.cn/1321/2013/07/25/1427s4195431.htm" target="_blank" rel="nofollow">中國著名畫家馬金虎書畫展在矽谷開幕。</a></td>
            </tr>
            <tr>
              <td>2013-07-17</td>
              <td><a href="http://dailynews.sina.com/bg/news/usa/sinaus/su/20130717/09164757343.html" target="_blank" rel="nofollow">中國著名畫家馬金虎舊金山書畫展，2013 年 7 月 20 日開幕。</a></td>
            </tr>
            <tr>
              <td>2013-06-14</td>
              <td><a href="http://news.96hq.com/a/20130614/219006.html" target="_blank" rel="nofollow">畫家馬金虎：注重傳統又具備獨特藝術風格。</a></td>
            </tr>
            <tr>
              <td>2013-06-13</td>
              <td><a href="http://la.uschinapress.com/node/11374" target="_blank" rel="nofollow">中國著名畫家馬金虎書畫展12日隆重開幕。</a></td>
            </tr>
            <tr>
              <td>2011-04-23</td>
              <td><a href="http://ocewebcn.blogspot.com/2011/04/blog-post.html" target="_blank" rel="nofollow">馬金虎書畫展。</a></td>
            </tr>
            <tr>
              <td>2011-04-10</td>
              <td><a href="http://www.worldjournal.com/view/full_news/12717572/article-%E7%89%A1%E4%B8%B9%E5%9C%96?instance=news_pi" target="_blank" rel="nofollow">梁氏公所舉行春宴牡丹圖。</a></td>
            </tr>
            <tr>
              <td>2011-04-23</td>
              <td><a href="http://www.uscalligraphyart.com/redirect.php?tid=7367&goto=lastpost" target="_blank" rel="nofollow">馬金虎華埠展花鳥畫作。</a></td>
            </tr>
            <tr>
              <td>2011-02-21</td>
              <td><a href="http://blog.sina.com.cn/s/blog_5d033fa60100pucb.html" target="_blank" rel="nofollow">「馬金虎書畫展」在美国波士顿紐英崙藝術學會舉行。</a></td>
            </tr>
            <tr>
              <td>2011-01-10</td>
              <td><a href="http://bostonorange.blogspot.com/2011/01/blog-post_10.html" target="_blank" rel="nofollow">紐英崙藝術學會展馬金虎書畫。</a></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <div class="row">
      <div class="footer-container">
        <footer class="footer">
        &copy; 2014. All rights reserved.
        </footer>
      </div>
    </div>

  </div>
{% endblock %}
