{% extends 'layout.html' %}

{% block title %}Ma Jinhu - Artworks{% endblock %}

{% block bodyId %}artworks{% endblock %}

{% block content %}
  <div class="container">

    <!-- Navbar -->
    <div class="row">
      <div class="col-lg-11">
        <header class="navbar" role="navigation">
          <div class="navbar-header">
            <a class="navbar-brand navbar-stamp" href="/"></a>
          </div>
          <nav class="nav-main">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/" class="faux-underline-hover"><div class="cht">馬金虎</div><div class="eng">Jinhu Ma</div></a>
              </li>
              <li><a href="/artworks" class="faux-underline-hover"><div class="cht">作品集</div><div class="eng">Artworks</div></a></li>
              <li><a href="/news" class="faux-underline-hover"><div class="cht">最新消息</div><div class="eng">News</div></a></li>
              <li><a href="/contact" class="faux-underline-hover"><div class="cht">聯絡我們</div><div class="eng">Contact</div></a></li>
            </ul>
          </nav>
        </header>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-11 nav-artworks-filter-container">
        <nav class="nav-artworks-filter">
          <ul class="nav navbar-nav">
            <li><h1><div class="cht">梅</div><div class="eng">Plum</div></h1></li>
            <li><a href="#"><div class="cht">蘭</div><div>Orchids</div></a></li>
            <li><a href="#"><div class="cht">竹</div><div>Bamboo</div></a></li>
            <li><a href="#"><div class="cht">菊</div><div>Mums</div></a></li>
            <li><a href="#"><div class="cht">紫藤</div><div>Wisteria</div></a></li>
            <li><a href="#"><div class="cht">牡丹</div><div>Peony</div></a></li>
            <li><a href="#"><div class="cht">全</div><div>All</div></a></li>
          </ul>
        </nav>
        <div class="scroll-button">
          <a href="#" class="scroll-button-left">&lt;</a>
          <a href="#" class="scroll-button-right">&gt;</a>
        </div>
      </div>
    </div>

    <!-- Example Black Ink Gallery mockups
    <div id="gallery" class="black-ink-gallery vertical">
      <div class="big-inner">
        <div class="big-figure-column">
          <figure class="big-figure">
            <figurecaption class="big-figurecaption">
              <p class="artwork-name">黃花過時有餘香</p>
              <p class="artwork-meta">2011 年作品 長 120cm 寬 45cm</p>
            </figurecaption>
            <a href="#"><img src="/img/artwork-01.jpg" alt=""></a>
          </figure>
        </div>
      </div>
    </div>
    -->

    <div id="gallery" class="black-ink-gallery">
      {% for i, a in artworks -%}
        {% set image_url = a.get('images')['image_url']|replace(':version', a.get('images')['image_versions'][0]) %}
        <a href="/img{{image_url}}"><img src="/img{{image_url}}" alt="{{a.get('title')}}" data-caption='{"artwork-name": "{{a.get('title')}}", "artwork-meta": "{{a.get('date')|date('Y')}} 年作品 長 {{a.get('height')}} cm 寬 {{a.get('width')}} cm"}'></a>
      {%- endfor %}
      <!--
      <a href="#"><img src="/img/artwork-01.jpg" alt="" data-caption='{"artwork-name": "黃花過時有餘香", "artwork-meta": "2011 年作品 長 120cm 寬 45cm"}'></a>
      -->
    </div>

    <div class="row">
      <div class="col-lg-11">
        <footer class="footer">
        &copy; 2014. All rights reserved.
        </footer>
      </div>
    </div>

  </div>
{% endblock %}

{% block script %}
  {% parent %}
  <script src="/js/vendor/black-ink-gallery.js"></script>
  <script>
    $('#gallery').blackInkGallery();

    if ($('body')[0].style["-webkit-writing-mode"] != undefined) {
      $('#artworks > .container').addClass('vertical-rl');
    }

    // If we display the scroll button
    $('.scroll-button-left, .scroll-button-right').on("mouseover", function(e) {
      var interval = 10, velocity = 8, _this = this;

      var intervalId = setInterval(function() {
        left = $('.vertical-rl').scrollLeft();

        if ($(_this).hasClass("scroll-button-left")) {
          $('.vertical-rl').scrollLeft(left - velocity);
        }
        if ($(_this).hasClass("scroll-button-right")) {
          $('.vertical-rl').scrollLeft(left + velocity);
        }
      }, interval);
      $(this).on("mouseout", function(e) { clearInterval(intervalId); });

      e.stopPropagation();
    });
  </script>
{% endblock %}
